@define-color background #151515;
@define-color foreground #E8E3E3;
@define-color elevation-1 #181818;
@define-color elevation-2 #222222;
@define-color border #252525;
@define-color red #B66467;
@define-color green #8C977D;
@define-color yellow #D9BC8C;
@define-color blue #8DA3B9;
@define-color magenta #A988B0;
@define-color cyan #8AA6A2;
