@import "color.css";

* {
    font-family: "Jetbrains Mono", "Symbols Nerd Font";
    font-size: 14px;
    border-radius: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}

tooltip {
    background: @elevation-1;
    border: 0.5px solid @border;
    border-radius: 2px;
    text-shadow:
        0 2px 2px rgba(0, 0, 0, 0.8),
        0 4px 6px rgba(0, 0, 0, 0.6);
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 6px 0;
}

#clock,
#tray,
#custom-spotify,
#pulseaudio {
    background: @elevation-1;
    border-radius: 2px;
    color: @foreground;
    margin: 0 6px;
    padding: 4px 10px;
    text-shadow:
        0 2px 2px rgba(0, 0, 0, 0.8),
        0 4px 6px rgba(0, 0, 0, 0.6);
}

#custom-spotify {
    color: @green;
}

#workspaces {
    background: @elevation-1;
    border-radius: 2px;
    color: @foreground;
    margin: 0 6px;
    padding: 4px 10px;
}

#workspaces button {
    all: unset;
    padding: 0 12px;
    color: @elevation-2;
    transition: color 0.25s ease;
}

#workspaces button:hover,
#workspaces button.active {
    color: @blue;
}

#workspaces button.empty:hover,
#workspaces button.empty.active {
    color: @red;
}
