@import "color.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Google Sans";
    font-size: 15px;
    min-height: 0;
    margin-left: 4px;
    margin-right: 4px; 
}

window#waybar {
    border-radius: 0px;
    background: @bg;
    color: @fg;
}

tooltip {
    background: @bg;
    border-radius: 0px;
}

#window,
#clock,
#pulseaudio,
#tray
{
    padding: 5px 5px;
    color: @fg;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@bg2,.4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: @blue;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.25s ease;
}

#workspaces button.active {
    color: @blue;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
    color: alpha(@bg2,.4);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: @red;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}

#workspaces button.empty.active {
    color: @red;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#custom-spotify {
    color: @green;
}
