@import "color.css";

/* General */
* {
    font-family: Inter, Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 0;
}

/* Waybar window */
window#waybar {
    border-radius: 0px;
    background-color: shade(@base, 0.9);
    color: @text;
}

/* Tooltip */
tooltip {
    background-color: shade(@base, 0.9);
    border-radius: 0px;
}

/* General modules */
#window,
#clock,
#pulseaudio,
#battery,
#tray {
    padding: 5px 0px;
    color: @text;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Workspaces */
#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: rgba(255, 255, 255, 0.15);
    transition: all 0.25s ease;
}

#workspaces button:hover {
    color: alpha(@surface0, 0.25);
    border: none;
    transition: all 0.25s ease;
}

#workspaces button.active {
    color: @pink;
    border: none;
    transition: all 0.25s ease;
}

/* Other */
#custom-spotify {
    color: @green;
}

#battery {
    color: @green;
}
