@import "color.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Google Sans", "Symbols Nerd Font";
    font-size: 15px;
}

window#waybar {
    background: @bg;
    color: @fg;
    border-radius: 0px;
}

tooltip {
    background: @bg2;
    border-radius: 2px;
    border: 0.5px solid @border;
    border-bottom: 1px solid @border;
    border-top: 1px solid @border;
    box-shadow: 0 2px 4px rgba(0,0,0,0.69);
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin-top: 6px;
    margin-bottom: 6px;
}

#window,
#workspaces,
#clock,
#pulseaudio,
#battery,
#tray,
#custom-spotify {
    background: @bg2;
    border: 0.5px solid @border;
    border-bottom: 1px solid @border;
    border-top: 1px solid @border;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.69);
    color: @fg;
    margin: 0px 6px;
    min-height: 24px;
    padding: 4px 10px;
}

window#waybar.empty #window {
    opacity: 0;
    min-width: 0px;
    margin: 0px;
    padding: 0px;
}

#window {
    color: @blue;
}

#custom-spotify,
#battery {
    color: @green;
}

#workspaces button {
    all: unset;
    color: @bg3;
    padding: 0px 12px;
    transition: all 0.25s ease;
}

#workspaces button.active,
#workspaces button:hover {
    color: @blue;
    transition: all 0.25s ease;
}

#workspaces button.empty.active,
#workspaces button.empty:hover {
    color: @red;
    transition: all 0.25s ease;
}
